{% block table %}
<table {% if attributes is defined and attributes is not empty %}{{ attributes }}{% endif %}>
  {% block thead %}
    <thead>
      <tr {% if table.header.attributes is defined and table.header.attributes is not empty %}{{ table.header.attributes }}{% endif %}>
          {% for cell in table.header %}
              <th>{{ cell.value }}</th>
          {% endfor %}
      </tr>
    </thead>
  {% endblock %}
  {% block tbody %}
    <tbody>
          {% for row in table.rows %}
            {% block row %}
              <tr {% if row.attributes is defined and row.attributes is not empty %}{{ row.attributes }}{% endif %}>
                  {% for cell in row %}
                    {% block cell %}
                      <td {% if cell.attributes is defined and cell.attributes is not empty %}{{ cell.attributes }}{% endif %}>{{ cell.value }}</td>
                    {% endblock %}
                  {% endfor %}
              </tr>
            {% endblock %}
        {% endfor %}
      </tbody>
    {% endblock %}
</table>
{% endblock %}
